# LGMVIP Data Science Internship

# SRISTI GANGWAR

# LOADING THE LIBRARIES

In [69]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

# Loading the data

In [70]:

col_name=['Initial payment','Last payment','Credit Score','House number','sum','Result']

df=pd.read_csv("Decision_Tree_ Dataset.csv",header=None,names=col_name)
df=df.drop(['sum'],axis=1)
df=df.drop(labels=0,axis=0)

In [71]:
df.head()

   Initial payment  Last payment  Credit Score  House number Result
1              201         10018           250          3046    yes
2              205         10016           395          3044    yes
3              257         10129           109          3251    yes
4              246         10064           324          3137    yes
5              117         10115           496          3094    yes

# describing the dataset

In [72]:
df.describe()

       Initial payment  Last payment  Credit Score  House number
count       1000.00000    1000.00000   1000.000000   1000.000000
mean         294.34300   12465.88400    528.042000   4027.011000
std          115.81539    1440.15617    259.796059    565.164179
min          100.00000   10005.00000    100.000000   3003.000000
25%          195.00000   11201.50000    302.000000   3545.000000
50%          289.50000   12450.00000    516.500000   4041.500000
75%          398.00000   13678.25000    753.500000   4507.000000
max          500.00000   14996.00000    997.000000   5000.000000

# encoding the string to int

In [73]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [74]:
df["Result"]=le.fit_transform(df["Result"])
df.tail(15)

      Initial payment  Last payment  Credit Score  House number  Result
986               390         14758           991          4076       0
987               385         14949           265          4672       0
988               371         14688           817          4431       0
989               201         14929           448          4775       0
990               325         14915           211          4944       0
991               205         14918           841          4442       0
992               473         14714           514          4732       0
993               108         14853           633          4866       0
994               330         14992           308          4895       0
995               301         14852           812          4564       0
996               413         14914           523          4683       0
997               359         14423           927          4838       0
998               316         14872           613          4760       0
999               305         14926           897          4572       0
1000              168         14798           834          4937       0

# shape

In [75]:
df.shape

(1000, 5)

# splitting the data

In [77]:
features_col=['Initial payment','Last payment','Credit Score','House number','Result']
X=df[features_col]
y=df.Result
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=1)

# decision tree classifer

In [78]:
model=DecisionTreeClassifier(criterion='entropy',max_depth=3)

# training the model

In [79]:
model=model.fit(X_train,y_train)

# Accuracy

In [80]:
print("Accuracy is :",model.score(X_test,y_test)*100)

Accuracy is : 100.0